// fingo - nav.sass , header.sass
//
// * --------------------------------
// * RESET
// * --------------------------------
@import ./config/fingo-colors
@import ./config/fingo-reset
@import ./Modules/sass/style

@import ./sub-header


input
  @extend %reset-border-box
input
  @extend %reset-input
// reset
button
  @extend %reset-button


// * --------------------------------
// * Main
// * --------------------------------
main
  +padding(bottom 200px)
  .sub-menu
    +size(100% 60px)
    border-bottom: 1px solid $fingo-border
    +margin(bottom 60px)
    ul
      li
        float: left
        border-left: 1px solid $fingo-border
        border-right: 1px solid $fingo-border

        &:nth-child(2), &:nth-child(3), &:nth-child(4)
          border-left: none

        &::after
          content: ""
          display: block
          +size(100% 1px)
          +background(color $fingo-main-color)
          clear: both
          transform: scale(0)
          // transition: all 0.3s
        &:nth-child(3)::after
          transform: scale(1)
        &:hover::after
          transform: scale(1)

        a
          +size(auto 60px)
          +padding(left 20px right 20px)
          display: block
          color: $fingo-font-dd
          font-size: 14px
          line-height: 60px

.movies
  // +margin(top 60px)


  h1
    @extend %a11y-hidden
  .movie-list
    +tablet
      +size(736px auto)
      +margin(0 auto)
    +mobile
      +size(350px auto)
      +margin(0 auto)
    &::after
      content: ""
      display: block
      clear: both
    figure
      +margin(0)
      float: left
      +margin(right 20px bottom 20px)
      // transition: 0.3s all
      position: relative
      &:nth-child(5n)
        +margin(right 0px)
      +tablet
        &:nth-child(5n)
          +margin(right 20px)
        &:nth-child(3n)
          +margin(right 0px)
      +mobile
        background-color: pink
        // +margin(right 20px auto)
        +size(350px 500px)
        &:nth-child(2n)
          +margin(right 0px)
        &:nth-child(5n)
          +margin(right 20px)
      img
        +size(232px 335px)
        +mobile
          +size(350px 500px)

      .hover
        +position(absolute, top 0 z-index 10)
        +size(100% 100%)
        opacity: 0
        cursor: pointer
        background: rgba(#000000, 0.3)
        text-align: center
        p
          +margin(top 55px)
          font-size: 16px
          color: $fingo-white
          +mobile
            font-size: 20px
            +margin(top 90px)


        .like-btn,
        .heart-btn
          +margin(bottom 10px left auto right auto)
          +size(110px 35px)
          font-size: 14px
          display: block
          color: #fff
          border: 1px solid currentColor
          letter-spacing: -1px
          +mobile
            +size(180px 50px)
            font-size: 16px
          img:first-child
            +size(16px 13px)
            +margin(right 5px)
            +mobile
              +size(21px 19px)

          &:nth-of-type(1):hover,
          &:nth-of-type(1):focus,
          &:nth-of-type(1).heart-btn-active,
            +background(color $fingo-heart)
            border: 1px solid $fingo-heart
          &:nth-of-type(2):hover,
          &:nth-of-type(2):active
            +background(color #27569c)
            border: 1px solid #27569c

      &:hover
        .hover
          opacity: 1
