<div data-fingo-nav-directive></div>
<div data-ng-include="'views/sub-header.html'"></div>

<main data-ng-controller="FingoUserCommentController">
  <div class="sub-menu">
    <ul class="container">
      <li><a href>취향통계분석</a></li>
      <li><a href="/#/wish">보고싶어요</a></li>
      <li><a href="/#/movies">봤어요</a></li>
      <li><a href="/#/comments">코멘트</a></li>
    </ul>
  </div>

  <section class="container movies">
    <h1>코멘트 목록</h1>
    <div class="movie-list" data-ng-controller="FingoMovieScoreController">
      <div
        class="user-comment"
        data-ng-repeat="movie in user_comment.results"
      >
        <figure data-ng-mouseover="getScore($event, movie.movie.id)">
          <img data-ng-src="{{movie.movie.img}}" alt="">
          <div class="hover" data-ui-sref="comments.detail({id : movie.movie.id})">
            <h3>{{movie.movie.title}}</h3>
            <div data-fingo-movie-score-directive data-movie-id="movie.movie.id" data-movie-score="currentScore"></div>
            <button
              type="button"
              class="heart-btn"
              data-ng-controller="FingoWishMoviesController"
              data-ng-class="wish_active"
              data-ng-click="WishMovies(movie.movie.id); $event.preventDefault(); $event.stopPropagation();"
            ><img src="./images/icon-heart.svg" class="icon">보고싶어요</button>
            <button
              type="button"
              class="like-btn"
              data-ui-sref="comments.comment({'id': movie.movie.id})"
              data-ng-click="$event.stopPropagation()"
            ><img src="./images/icon-comment.svg" class="icon">코멘트 쓰기</button>
          </div>
        </figure>
        <div class="comment-box" >
          <h2>{{movie.movie.title}}</h2>
          <div class="rating-stars">
            <span><img src="./images/star-on.svg" alt=""></span>
            <span><img src="./images/star-on.svg" alt=""></span>
            <span><img src="./images/star-on.svg" alt=""></span>
            <span><img src="./images/star-on.svg" alt=""></span>
            <span><img src="./images/star-off.svg" alt=""></span>
            <span>[{{movie.score}}]</span>
          </div>
          <p class="comment">{{movie.comment}}</p>
          <time>{{movie.activity_time | dateTime}}</time>
          <div class="received-likes">
            <h4>받은 좋아요</h4>
            <img src="./images/icon-like.svg">
            <strong>100</strong>
          </div>
          <div class="comment-btn-group">
            <button
              type="button"
              data-ui-sref="comments.comment({'id': movie.movie.id})"
              data-ng-click="$event.stopPropagation()"
            >수정</button>
            <!-- <button type="button" name="button">삭제</button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="pagenation">
      <button class="prev_btn" data-ng-click="movePage(prev_page)" data-ng-hide="prev_page==null" data-ng-show="prev_page!==null">previous</button>
      <button class="next_btn" data-ng-click="movePage(next_page)" data-ng-hide="next_page==null" data-ng-show="next_page!==null">next</button>
    </div>
  </section>
</main>

<div data-ui-view></div>
<div data-ng-include="'views/footer.html'"></div>
