<div class="comment-dim-container modal" data-ng-class="dim_class">
  <div class="dim" data-ng-click="dim_show('hide')"></div>
  <div class="modal-window modal">
    <h3 class="modal-headline">{{fingo_title}}<button class="modal-rank-btn" aria-label="별점 남기기 버튼" data-ng-click="dim2_show('show')"></button></h3>
    <div class="modal-contents">
      <img class="modal-poster" src="{{fingo_img}}">
      <span class="modal-stars">[{{fingo_score}}]</span>
      <textarea class="modal-textarea" placeholder="이 영화에 대한 생각을 자유롭게 표현해주세요." data-ng-model="fingo_comment">{{fingo_comment}}</textarea>
      <button type="button" class="modal-ok-button" aria-label="코멘트 저장하기" data-ng-click="addComment(fingo_comment)">확인</button>
    </div>
    <button type="button" class="modal-close-button" aria-label="코멘트 남기기 창 닫기" data-ng-click="dim_show('hide')">x</button>
    <div class="modal-rank-window" data-ng-class="dim2_class" data-ng-controller="FingoMovieScoreController" data-ng-mouseover="getScore($event, fingo_id)">
      <div class="dim2" data-ng-click="dim2_show('hide')"></div>
      <div class="modal-rank-contents modal">
        <h4>평가를 먼저 해주세요!</h4>
        <p class="modal-rank-desc">본 영화인가요?</p>
        <div data-fingo-movie-score-directive data-movie-id="fingo_id" data-movie-score="currentScore"></div>
        <p>아직 안 본 영화인가요?</p>
        <button type="button" aria-label="보고싶은 영화로 등록하기" class="heart-btn" data-ng-click="$event.preventDefault();"><img src="./images/icon-heart.svg" class="icon">보고싶어요</button>
      </div>
    </div>
  </div>
</div>
