<div id="main-box-office-carousel">
  <ul>
    <li data-ng-repeat="movie in fingo_movies" class="{{$index + 1}}"><a href></a></li>
  </ul>
  <div>
    <figure
      data-ng-repeat="movie in fingo_movies"
      data-ng-init="$last && repeatComplete()"
      >
      <a href="#">
        <img data-ng-src="{{movie.movie.img}}" alt="">
        <p class="box-office-movie-title"><span>{{movie.rank}}위</span> {{movie.movie.title}}</p>
        <div class="hover">
          <h3>{{movie.movie.title}}</h3>
          <div class="stars" data-ng-click="$event.stopPropagation();">
            <form novalidate class="star-rating-form" action="#" id="star_rating{{movie.movie.id}}">
             <input value="null" id="cencel" checked type="radio" name="rating" >
              <label for="cencel">
                <span>취소</span>
                <button type="button" name="button" class="cancel-btn">
                  취소
                </button>
              </label>

              <input value="0.5" id="star1_{{movie.movie.id}}"
                type="radio" name="rating" >
              <label for="star1_{{movie.movie.id}}" class="star1">
                <span >0.5점</span>
                <svg>
                  <path class="icon-star-left" d="M601,680m0,22.038L592.965,706l1.1-9.259L588,689.931l8.715-1.76L601,680" transform="translate(-588 -680)"/>
                </svg>
              </label>

              <input value="1" id="star2_{{movie.movie.id}}"
                type="radio" name="rating" >
              <label for="star2_{{movie.movie.id}}"  class="star2">
                <span >1점</span>
                <svg>
                  <path class="icon-star-right" d="M602,680m0,22.038L610.035,706l-1.1-9.259,6.066-6.81-8.715-1.76L602,680" transform="translate(-602 -680)"/>
                </svg>
              </label>

              <input value="1.5" id="star3_{{movie.movie.id}}"
                type="radio" name="rating" >
              <label for="star3_{{movie.movie.id}}">
                <span >1.5점</span>
                <svg>
                  <path class="icon-star-left" d="M601,680m0,22.038L592.965,706l1.1-9.259L588,689.931l8.715-1.76L601,680" transform="translate(-588 -680)"/>
                </svg>
              </label>

              <input value="2" id="star4_{{movie.movie.id}}"
                type="radio" name="rating" >
              <label for="star4_{{movie.movie.id}}"  class="star4">
                <span >2점</span>
                <svg>
                  <path class="icon-star-right" d="M602,680m0,22.038L610.035,706l-1.1-9.259,6.066-6.81-8.715-1.76L602,680" transform="translate(-602 -680)"/>
                </svg>
              </label>


              <input value="2.5" id="star5_{{movie.movie.id}}"
                type="radio" name="rating" >
              <label for="star5_{{movie.movie.id}}">
                <span >2.5점</span>
                <svg>
                  <path class="icon-star-left" d="M601,680m0,22.038L592.965,706l1.1-9.259L588,689.931l8.715-1.76L601,680" transform="translate(-588 -680)"/>
                </svg>
              </label>

              <input value="6" id="star6_{{movie.movie.id}}"
                type="radio" name="rating" >
              <label for="star6_{{movie.movie.id}}"  class="star6">
                <span>3점</span>
                <svg>
                  <path class="icon-star-right" d="M602,680m0,22.038L610.035,706l-1.1-9.259,6.066-6.81-8.715-1.76L602,680" transform="translate(-602 -680)"/>
                </svg>
              </label>

              <input value="7" id="star7_{{movie.movie.id}}"
                type="radio" name="rating" >
              <label for="star7_{{movie.movie.id}}">
                <span >3.5점</span>
                <svg>
                  <path class="icon-star-left" d="M601,680m0,22.038L592.965,706l1.1-9.259L588,689.931l8.715-1.76L601,680" transform="translate(-588 -680)"/>
                </svg>
              </label>

              <input value="8" id="star8_{{movie.movie.id}}"
                type="radio" name="rating" >
              <label for="star8_{{movie.movie.id}}"  class="star8">
                <span >4점</span>
                <svg>
                  <path class="icon-star-right" d="M602,680m0,22.038L610.035,706l-1.1-9.259,6.066-6.81-8.715-1.76L602,680" transform="translate(-602 -680)"/>
                </svg>
              </label>

              <input value="9" id="star9_{{movie.movie.id}}"
                type="radio" name="rating" >
              <label for="star9_{{movie.movie.id}}">
                <span >4.5점</span>
                <svg>
                  <path class="icon-star-left" d="M601,680m0,22.038L592.965,706l1.1-9.259L588,689.931l8.715-1.76L601,680" transform="translate(-588 -680)"/>
                </svg>
              </label>

              <input value="10" id="star10_{{movie.movie.id}}"
                type="radio" name="rating" >
              <label for="star10_{{movie.movie.id}}">
                <span >5점</span>
                <svg>
                  <path class="icon-star-right" d="M602,680m0,22.038L610.035,706l-1.1-9.259,6.066-6.81-8.715-1.76L602,680" transform="translate(-602 -680)"/>
                </svg>
              </label>

              <button type="submit" class="submit">평가하기</button>
              <output></output>

            </form>
          </div>
          <button type="button" data-ng-click="$event.preventDefault();">보고싶어요</button>
          <button type="button" data-ui-sref="main.comment({'id': movie.movie.id})">코멘트 쓰기</button>
          <!-- <button type="button" data-ng-click="Comment(movie.movie.id); $event.preventDefault();">코멘트 쓰기</button> -->
        </div>
      </a>
    </figure>
  </div>
</div>
<!-- <div data-fingo-add-comment-directive></div> -->
<!-- <div class="comment-dim-container modal hide">
  <div class="dim"></div>
  <div class="modal-window modal">
    <h3 class="modal-headline"></h3>
    <button class="modal-rank-btn" aria-label="별점 남기기"></button>
    <div class="modal-contents">
      <img class="modal-poster" src="/">
      <span class="modal-stars">별별별별별</span>
      <textarea class="modal-textarea" placeholder="이 영화에 대한 생각을 자유롭게 표현해주세요." data-ng-model="fingo_comment">{{fingo_comment}}</textarea>
      <button type="button" class="modal-ok-button" aria-label="Enter comment" data-ng-click="addComment(fingo_comment)">확인</button>
    </div>
    <button type="button" class="modal-close-button" aria-label="Close Modal Window">x</button>
    <div class="dim2"></div>
    <div class="modal-rank-contents modal">
      <h4>평가를 먼저 해주세요!</h4>
      <p class="modal-rank-desc">본 영화인가요?</p>
      <span class="modal-stars">별별별별별</span>
      <p>아직 안 본 영화인가요?</p>
      <button class="modal-like-btn" type="button" aria-label="보고싶은 영화로 등록하기">보고싶어요</button>
    </div>
  </div>
</div> -->
