<div id="main-box-office-carousel">
  <ul>
    <li data-ng-repeat="movie in fingo_movies" class="{{$index + 1}}"><a href></a></li>
  </ul>
  <div data-ng-controller="FingoMovieScoreController">
    <figure
      data-ng-repeat="movie in fingo_movies"
      data-ng-init="$last && repeatComplete()"
      data-ng-mouseover="getScore($event, movie.movie.id)"
      >
      <a href="#">
        <img data-ng-src="{{movie.movie.img}}" alt="">
        <p class="box-office-movie-title"><span>{{movie.rank}}위</span> {{movie.movie.title}}</p>
        <div class="hover">
          <h3>{{movie.movie.title}}</h3>
          <div data-fingo-movie-score-directive data-movie-id="movie.movie.id"></div>
          <button type="button" class="heart-btn" data-ng-click="$event.preventDefault();"><img src="./images/icon-heart.svg" class="icon">보고싶어요</button>
          <button type="button" class="like-btn" data-ui-sref="main.comment({'id': movie.movie.id})"><img src="./images/icon-comment.svg" class="icon">코멘트 쓰기</button>
          <!-- <button type="button" data-ng-click="Comment(movie.movie.id); $event.preventDefault();">코멘트 쓰기</button> -->
        </div>
      </a>
    </figure>
  </div>
</div>
<!-- <div data-fingo-add-comment-directive></div> -->
<!-- <div class="comment-dim-container modal hide">
  <div class="dim"></div>
  <div class="modal-window modal">
    <h3 class="modal-headline"></h3>
    <button class="modal-rank-btn" aria-label="별점 남기기"></button>
    <div class="modal-contents">
      <img class="modal-poster" src="/">
      <span class="modal-stars">별별별별별</span>
      <textarea class="modal-textarea" placeholder="이 영화에 대한 생각을 자유롭게 표현해주세요." data-ng-model="fingo_comment">{{fingo_comment}}</textarea>
      <button type="button" class="modal-ok-button" aria-label="Enter comment" data-ng-click="addComment(fingo_comment)">확인</button>
    </div>
    <button type="button" class="modal-close-button" aria-label="Close Modal Window">x</button>
    <div class="dim2"></div>
    <div class="modal-rank-contents modal">
      <h4>평가를 먼저 해주세요!</h4>
      <p class="modal-rank-desc">본 영화인가요?</p>
      <span class="modal-stars">별별별별별</span>
      <p>아직 안 본 영화인가요?</p>
      <button class="modal-like-btn" type="button" aria-label="보고싶은 영화로 등록하기">보고싶어요</button>
    </div>
  </div>
</div> -->
