<div id="main-movie-ranking-carousel">
  <ul>
    <li data-ng-repeat="movie in fingo_movies"><a href></a></li>
  </ul>
  <div data-ng-controller="FingoMovieScoreController">
    <figure
      data-ng-repeat="movie in fingo_movies"
      data-ng-init="$last && repeatComplete()"
      data-ng-mouseover="getScore($event, movie.id)"
      >
      <a href data-ui-sref="main.detail({'id': movie.id})">
        <img data-ng-src="{{movie.img}}" alt="{{movie.title}}">
        <div class="hover">
          <h3>{{movie.title}}</h3>
          <div data-fingo-movie-score-directive data-movie-id="movie.id" data-movie-score="currentScore"></div>
          <button
            type="button"
            class="heart-btn"
            data-ng-controller="FingoWishMoviesController"
            data-ng-class="wish_active"
            data-ng-click="WishMovies(movie.id); $event.preventDefault(); $event.stopPropagation();"
          ><img src="./images/icon-heart.svg" class="icon">보고싶어요</button>
          <button
            type="button"
            class="like-btn"
            data-ui-sref="main.comment({'id': movie.id})"
            data-ng-click="$event.stopPropagation();"
          ><img src="./images/icon-comment.svg" class="icon">코멘트 쓰기</button>
        </div>
      </a>
    </figure>
  </div>
</div>
