<footer class="footer">
  <div class="container">
    <a href="#" title="홈으로" class="footer-logo"><img src="images/icon-footer-logo.png" alt="" /></a>
    <div class="footer-copyright">
      <p><a href="#">핑고 서비스 이용약관</a> | <a href="#">개인정보 취급방침 </a></p>
      <span>Copyright © 2016 by Fingo - JiEun, YunJee</span>
    </div>
    <div class="footer-sns-group">
      <a href="#" class="footer-sns-facebook" aria-label="핑고 페이스북 페이지로 이동" title="핑고 페이스북 페이지로 이동"><img src="images/icon-facebook.png" alt="" /></a>
      <a href="#" class="footer-sns-twitter" aria-label="핑고 트위터로 이동" title="핑고 트위터로 이동"><img src="images/icon-twitter.png" alt="" /></a>
    </div>
  </div>
</footer>
