<header class="main-header">
    <div id="main-header-carousel" class="main-header-carousel">
      <ul>
        <li><a href></a></li>
        <li><a href></a></li>
        <li><a href></a></li>
      </ul>
      <div>
        <figure>
          <img src="./img/photo-main-carousel-1.jpg" alt="">
          <div class="container">
            <div class="main-header-carousel-contents">
              <h3><a href="">신비한 동물사전</a></h3>
              <p>평균 별점 : 3.9 , 예매율 : 66.11%<br />
                2016, 미국, 판타지, 12세 관람가, 2시간 13분<br />
                배우 : 에디 레드메인, 콜린 파렐, 캐서린 워터스턴<br />
                감독 : 데이빗 예이츠
                </p>
              <a href="#">예매하기</a>
            </div>
          </div>
        </figure>
        <figure>
          <img src="./img/photo-main-carousel-2.jpg" alt="">
          <div class="container">
            <div class="main-header-carousel-contents">
              <h3><a href="">가려진 시간</a></h3>
              <p>평균 별점 : 3.9 , 예매율 : 66.11%<br />
                2016, 미국, 판타지, 12세 관람가, 2시간 13분<br />
                배우 : 에디 레드메인, 콜린 파렐, 캐서린 워터스턴<br />
                감독 : 데이빗 예이츠
                </p>
              <a href="#">예매하기</a>
            </div>
          </div>
        </figure>
        <figure>
          <img src="./img/photo-main-carousel-1.jpg" alt="">
          <div class="container">
            <div class="main-header-carousel-contents">
              <h3><a href="">신비한 동물사전</a></h3>
              <p>평균 별점 : 3.9 , 예매율 : 66.11%<br />
                2016, 미국, 판타지, 12세 관람가, 2시간 13분<br />
                배우 : 에디 레드메인, 콜린 파렐, 캐서린 워터스턴<br />
                감독 : 데이빗 예이츠
                </p>
              <a href="#">예매하기</a>
            </div>
          </div>
        </figure>
      </div>
    </div>
  </header>
  <main class="main-main">
    <section class="main-box-office">
      <div class="container">
        <h1>BOX OFFCE</h1>
        <p class="main-box-office-desc">오늘의 박스 오피스 순위 입니다.</p>
        <div class="main-box-office-list">
          <span>영화랭킹</span>
          <button type="button"></button>
          <ul>
            <li><a href="" title="1위 신비한 동물사전"><span>1위</span>신비한 동물사전</a></li>
            <li><a href="" title="2위 가려진 시간"><span>2위</span>가려진 시간</a></li>
            <li><a href="" title="3위 닥터스트레인지"><span>3위</span>닥터스트레인지</a></li>
            <li><a href="" title="4위 형"><span>4위</span>형</a></li>
            <li><a href="" title="5위 스플릿"><span>5위</span>스플릿</a></li>
            <li><a href="" title="6위 럭키"><span>6위</span>럭키</a></li>
            <li><a href="" title="7위 감바의 대모험"><span>7위</span>감바의 대모험</a></li>
            <li><a href="" title="8위 하이큐!! 끝과 시작"><span>8위</span>하이큐!! 끝과 시작</a></li>
            <li><a href="" title="9위 무현, 두 도시 이야기"><span>9위</span>무현, 두 도시 이야기</a></li>
            <li><a href="" title="10위 카페 6"><span>10위</span>카페 6</a></li>
            <li><a href="" title="11위 미스 사이공: 25주년 특별공"><span>11위</span>미스 사이공: 25주년 특별공</a></li>
            <li><a href="" title="12위 스타트렉 비욘드"><span>12위</span>스타트렉 비욘드</a></li>
            <li><a href="" title="13위 시간여행자"><span>13위</span>시간여행자</a></li>
            <li><a href="" title="14위 블레어 위치"><span>14위</span>블레어 위치</a></li>
            <li><a href="" title="15위 연애담"><span>15위</span>연애담</a></li>
          </ul>
        </div>
        <div id="main-box-office-carousel">
          <ul>
            <li><a href></a></li>
            <li><a href></a></li>
            <li><a href></a></li>
            <li><a href></a></li>
            <li><a href></a></li>
          </ul>
          <div>
            <figure class="1">
              <a href="#">
                <img src="img/photo-main-poster-4.png" alt="">
                <p class="box-office-movie-title"><span>1위</span>  신비한 동물사전</p>
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button" class="active">보고싶어요</button>
                  <button type="button" class="active">코멘트 쓰기</button>
                </div>
              </a>
            </figure>
            <figure class="2">
              <a href="#"><img src="img/photo-main-poster-5.png" alt="">
                <p class="box-office-movie-title"><span>2위</span>  닥터 스트레인지</p>
                <div class="hover">
                  <p>닥터 스트레인지</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="3">
              <a href="#"><img src="img/photo-main-poster-1.png" alt="">
                <p class="box-office-movie-title"><span>3위</span>  스타트랙 비욘드</p>
                <div class="hover">
                  <p>스타트랙 비욘드</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="4">
              <a href="#">
                <img src="img/photo-main-poster-2.png" alt="">
                <p class="box-office-movie-title"><span>4위</span>  연애담</p>
                <div class="hover">
                  <p>연애담</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div>
              </a>
            </figure>
            <figure class="5">
              <a href="#"><img src="img/photo-main-poster-3.png" alt="">
                <p class="box-office-movie-title"><span>5위</span>  세상에서 고양이가 사라진다면</p>
                <div class="hover">
                  <p>세상에서 고양이가 사라진다면</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="6">
              <a href="#"><img src="img/photo-main-poster-4.png" alt="">
                <p class="box-office-movie-title"><span>6위</span>  신비한 동물사전</p>
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="7">
              <a href="#"><img src="img/photo-main-poster-5.png" alt="">
                <p class="box-office-movie-title"><span>7위</span>  닥터 스트레인지</p>
                <div class="hover">
                  <p>닥터 스트레인지</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="8">
              <a href="#"><img src="img/photo-main-poster-1.png" alt="">
                <p class="box-office-movie-title"><span>8위</span>  스타트랙 비욘드</p>
                <div class="hover">
                  <p>스타트랙 비욘드</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="9">
              <a href="#">
                <img src="img/photo-main-poster-2.png" alt="">
                <p class="box-office-movie-title"><span>9위</span>  연애담</p>
                <div class="hover">
                  <p>연애담</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div>
              </a>
            </figure>
            <figure class="10">
              <a href="#"><img src="img/photo-main-poster-3.png" alt="">
                <p class="box-office-movie-title"><span>10위</span>  세상에서 고양이가 사라진다면</p>
                <div class="hover">
                  <p>세상에서 고양이가 사라진다면</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="11">
              <a href="#"><img src="img/photo-main-poster-4.png" alt="">
                <p class="box-office-movie-title"><span>11위</span>  신비한 동물사전</p>
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="12">
              <a href="#"><img src="img/photo-main-poster-5.png" alt="">
                <p class="box-office-movie-title"><span>12위</span>  닥터 스트레인지</p>
                <div class="hover">
                  <p>닥터 스트레인지</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="13">
              <a href="#"><img src="img/photo-main-poster-1.png" alt="">
                <p class="box-office-movie-title"><span>13위</span>  스타트랙 비욘드</p>
                <div class="hover">
                  <p>스타트랙 비욘드</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="14">
              <a href="#">
                <img src="img/photo-main-poster-2.png" alt="">
                <p class="box-office-movie-title"><span>14위</span>  연애담</p>
                <div class="hover">
                  <p>연애담</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div>
              </a>
            </figure>
            <figure class="15">
              <a href="#"><img src="img/photo-main-poster-3.png" alt="">
                <p class="box-office-movie-title"><span>15위</span>  세상에서 고양이가 사라진다면</p>
                <div class="hover">
                  <p>세상에서 고양이가 사라진다면</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="16">
              <a href="#"><img src="img/photo-main-poster-4.png" alt="">
                <p class="box-office-movie-title"><span>16위</span>  신비한 동물사전</p>
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="17">
              <a href="#"><img src="img/photo-main-poster-5.png" alt="">
                <p class="box-office-movie-title"><span>17위</span>  닥터 스트레인지</p>
                <div class="hover">
                  <p>닥터 스트레인지</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="18">
              <a href="#"><img src="img/photo-main-poster-1.png" alt="">
                <p class="box-office-movie-title"><span>18위</span>  스타트랙 비욘드</p>
                <div class="hover">
                  <p>스타트랙 비욘드</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="19">
              <a href="#">
                <img src="img/photo-main-poster-2.png" alt="">
                <p class="box-office-movie-title"><span>19위</span>  연애담</p>
                <div class="hover">
                  <p>연애담</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div>
              </a>
            </figure>
            <figure class="20">
              <a href="#"><img src="img/photo-main-poster-3.png" alt="">
                <p class="box-office-movie-title"><span>20위</span>  세상에서 고양이가 사라진다면</p>
                <div class="hover">
                  <p>세상에서 고양이가 사라진다면</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
          </div>
        </div>
        <div class="selection"></div>
      </div>
    </section>
    <section class="main-movie-ranking">
      <div class="container">
        <h1 class="a11y">영화 순위</h1>
        <div class="main-movie-ranking-btn-group">
          <button type="button" class="active">국내 누적관객수 TOP 영화</button><button type="button">전문가 고평점 영화</button>
        </div>
        <div id="main-movie-ranking-carousel">
          <ul>
            <li><a href></a></li>
            <li><a href></a></li>
            <li><a href></a></li>
            <li><a href></a></li>
            <li><a href></a></li>
          </ul>
          <div>
            <figure class="top-1">
              <a href="#"><img src="img/photo-main-poster-2.png" alt="">
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="top-2">
              <a href="#"><img src="img/photo-main-poster-3.png" alt="">
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="top-1 left-2">
              <a href="#"><img src="img/photo-main-poster-4.png" alt="">
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="top-2 left-2">
              <a href="#"><img src="img/photo-main-poster-5.png" alt="">
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="top-1 left-3">
              <a href="#"><img src="img/photo-main-poster-1.png" alt="">
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="top-2 left-3">
              <a href="#"><img src="img/photo-main-poster-2.png" alt="">
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="top-1 left-4">
              <a href="#"><img src="img/photo-main-poster-3.png" alt="">
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="top-2 left-4">
              <a href="#"><img src="img/photo-main-poster-4.png" alt="">
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="top-1 left-5">
              <a href="#"><img src="img/photo-main-poster-5.png" alt="">
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="top-2 left-5">
              <a href="#"><img src="img/photo-main-poster-1.png" alt="">
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="top-1 left-6">
              <a href="#"><img src="img/photo-main-poster-2.png" alt="">
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="top-2 left-6">
              <a href="#"><img src="img/photo-main-poster-3.png" alt="">
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="top-1 left-7">
              <a href="#"><img src="img/photo-main-poster-4.png" alt="">
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="top-2 left-7">
              <a href="#"><img src="img/photo-main-poster-5.png" alt="">
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="top-1 left-8">
              <a href="#"><img src="img/photo-main-poster-1.png" alt="">
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button" class="like">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="top-2 left-8">
              <a href="#"><img src="img/photo-main-poster-2.png" alt="">
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="top-1 left-9">
              <a href="#"><img src="img/photo-main-poster-3.png" alt="">
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="top-2 left-9">
              <a href="#"><img src="img/photo-main-poster-4.png" alt="">
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="top-1 left-10">
              <a href="#"><img src="img/photo-main-poster-5.png" alt="">
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="top-2 left-10">
              <a href="#"><img src="img/photo-main-poster-1.png" alt="">
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="top-1 left-11">
              <a href="#"><img src="img/photo-main-poster-5.png" alt="">
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
            <figure class="top-2 left-11">
              <a href="#"><img src="img/photo-main-poster-1.png" alt="">
                <div class="hover">
                  <p>신비한 동물사전</p>
                  <p class="stars">별 별 별 별 별</p>
                  <button type="button">보고싶어요</button>
                  <button type="button">코멘트 쓰기</button>
                </div></a>
            </figure>
          </div>
        </div>
      </div>
    </section>
    <section class="main-new-movie-trailers">
      <div class="container">
        <h1>NEW MOVIE TRAILERS</h1>
        <div id="main-new-movie-trailers-carousel">
          <ul>
            <li><a href></a></li>
            <li><a href></a></li>
            <li><a href></a></li>
            <li><a href></a></li>
            <li><a href></a></li>
          </ul>
          <div>
            <div>
              <iframe src="https://www.youtube.com/embed/4f3wL6cgFZ8" frameborder="0" allowfullscreen></iframe>
            </div>
            <div>
              <iframe src="https://www.youtube.com/embed/awyG1-xvqFY" frameborder="0" allowfullscreen></iframe>
            </div>
            <div>
              <iframe src="https://www.youtube.com/embed/QtQNv49QlKI" frameborder="0" allowfullscreen></iframe>
            </div>
            <div>
              <iframe src="https://www.youtube.com/embed/z0K6hzn9p_M" frameborder="0" allowfullscreen></iframe>
            </div>
            <div>
              <iframe src="https://www.youtube.com/embed/4f3wL6cgFZ8" frameborder="0" allowfullscreen></iframe>
            </div>
            <div>
              <iframe src="https://www.youtube.com/embed/awyG1-xvqFY" frameborder="0" allowfullscreen></iframe>
            </div>
            <div>
              <iframe src="https://www.youtube.com/embed/QtQNv49QlKI" frameborder="0" allowfullscreen></iframe>
            </div>
            <div>
              <iframe src="https://www.youtube.com/embed/z0K6hzn9p_M" frameborder="0" allowfullscreen></iframe>
            </div>
            <div>
              <iframe src="https://www.youtube.com/embed/4f3wL6cgFZ8" frameborder="0" allowfullscreen></iframe>
            </div>
            <div>
              <iframe src="https://www.youtube.com/embed/awyG1-xvqFY" frameborder="0" allowfullscreen></iframe>
            </div>
            <div>
              <iframe src="https://www.youtube.com/embed/QtQNv49QlKI" frameborder="0" allowfullscreen></iframe>
            </div>
            <div>
              <iframe src="https://www.youtube.com/embed/z0K6hzn9p_M" frameborder="0" allowfullscreen></iframe>
            </div>
            <div>
              <iframe src="https://www.youtube.com/embed/z0K6hzn9p_M" frameborder="0" allowfullscreen></iframe>
            </div>
            <div>
              <iframe src="https://www.youtube.com/embed/4f3wL6cgFZ8" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
