<!-- Navbar -->
<div data-fingo-nav-directive></div>
<!-- Header -->
<header class="main-header" data-ng-controller="FingoBoxOfficeDetailController">
  <div data-fingo-header-carousel></div>
</header>
<!-- Main -->
<main class="main-main">
  <section id="boxoffice" class="main-box-office" data-ng-controller="FingoBoxOfficeController">
    <div class="container">
      <h1>BOX OFFCE</h1>
      <p class="main-box-office-desc">오늘의 박스 오피스 순위 입니다.</p>
      <div data-fingo-box-office-list></div>
      <div data-fingo-box-office-carousel></div>
    </div>
  </section>
  <section class="main-movie-ranking" data-ng-controller="FingoMovieRankingController">
    <div class="container">
      <h1>평가늘리기</h1>
      <p class="main-movie-ranking-desc">평가를 늘려주세요!</p>
      <!-- <div class="main-movie-ranking-btn-group">
        <button type="button" class="active">국내 누적관객수 TOP 영화</button><button type="button">전문가 고평점 영화</button>
      </div> -->
      <div data-fingo-movie-ranking-carousel></div>
    </div>
  </section>
</main>

<!-- Comment or Detail -->
<div data-ui-view></div>
<!-- Footer -->
<div data-ng-include="'views/footer.html'"></div>
