<div data-ng-controller="FingoSearchController">
   <div data-ng-include="'views/navbar.html'"></div>
</div>
<header class="header">
  <div class="profile container">
    <section class="account">
      <h1>개인 프로필</h1>
      <div class="thumbnail">
        <img src="./images/icon-profile.svg" alt="프로필 사진">
      </div>
      <p>이름</p>
    </section>
    <section class="total-movies">
      <h1>영화 보관함</h1>
      <strong>000</strong>
    </section>
    <section class="received-likes">
      <h1>받은 좋아요</h1>
      <img src="./images/icon-like.svg" alt="좋아요">
      <strong>000</strong>
    </section>
  </div>
</header>


<div data-ng-controller="ListController">
  <div data-ng-controller="FingoMovieDetailController">
    <main>
      <div class="sub-menu">
        <ul class="container">
          <li><a href="#">취향통계분석</a></li>
          <li><a href="/#/wish">보고싶어요</a></li>
          <li><a href="/#/movies">봤어요</a></li>
          <li><a href="/#/comments">코멘트</a></li>
        </ul>
      </div>

      <section class="container movies">
      <h1>봤어요 목록</h1>
      <div class="movie-list" >
        <figure data-ng-repeat="movie in movies">
          <p></p>
          <img data-ng-src="{{movie.movie.img}}" alt="">
          <!-- <img
            src="{{selected_movie.image}}"
            data-ng-src="{{movie.image}}"
            alt=""> -->

          <div class="hover" data-ng-controller="FingoMovieScoreController">
            <!-- ng-click="popup_show(movie.movie, movie.movie.id, 'active')" -->
            <div class="movie-info-click-on"
              data-ui-sref="movies.movie_detail({'id': movie.movie.id})"
            ></div>
            <!-- ng-click="popup_show(movie.movie, movie.movie.id, 'active')"  -->
            <p>{{movie.movie.title}}</p>
            <div class="stars">
              <!-- <div id="star_rating"> -->
              <form novalidate class="star-rating-form" action="#" id="star_rating{{movie.movie.id}}">
               <input value="null" id="cencel" checked type="radio" name="rating" >
                <label for="cencel">
                  <span>취소</span>
                  <button type="button" name="button" class="cancel-btn">
                    취소
                  </button>
                </label>

                <input value="0.5" id="star1_{{movie.movie.id}}"
                  type="radio" name="rating" >
                <label for="star1_{{movie.movie.id}}" class="star1">
                  <span >0.5점</span>
                  <svg>
                    <path class="icon-star-left" d="M601,680m0,22.038L592.965,706l1.1-9.259L588,689.931l8.715-1.76L601,680" transform="translate(-588 -680)"/>
                  </svg>
                </label>

                <input value="1" id="star2_{{movie.movie.id}}"
                  type="radio" name="rating" >
                <label for="star2_{{movie.movie.id}}"  class="star2">
                  <span >1점</span>
                  <svg>
                    <path class="icon-star-right" d="M602,680m0,22.038L610.035,706l-1.1-9.259,6.066-6.81-8.715-1.76L602,680" transform="translate(-602 -680)"/>
                  </svg>
                </label>

                <input value="1.5" id="star3_{{movie.movie.id}}"
                  type="radio" name="rating" >
                <label for="star3_{{movie.movie.id}}">
                  <span >1.5점</span>
                  <svg>
                    <path class="icon-star-left" d="M601,680m0,22.038L592.965,706l1.1-9.259L588,689.931l8.715-1.76L601,680" transform="translate(-588 -680)"/>
                  </svg>
                </label>

                <input value="2" id="star4_{{movie.movie.id}}"
                  type="radio" name="rating" >
                <label for="star4_{{movie.movie.id}}"  class="star4">
                  <span >2점</span>
                  <svg>
                    <path class="icon-star-right" d="M602,680m0,22.038L610.035,706l-1.1-9.259,6.066-6.81-8.715-1.76L602,680" transform="translate(-602 -680)"/>
                  </svg>
                </label>


                <input value="2.5" id="star5_{{movie.movie.id}}"
                  type="radio" name="rating" >
                <label for="star5_{{movie.movie.id}}">
                  <span >2.5점</span>
                  <svg>
                    <path class="icon-star-left" d="M601,680m0,22.038L592.965,706l1.1-9.259L588,689.931l8.715-1.76L601,680" transform="translate(-588 -680)"/>
                  </svg>
                </label>

                <input value="6" id="star6_{{movie.movie.id}}"
                  type="radio" name="rating" >
                <label for="star6_{{movie.movie.id}}"  class="star6">
                  <span>3점</span>
                  <svg>
                    <path class="icon-star-right" d="M602,680m0,22.038L610.035,706l-1.1-9.259,6.066-6.81-8.715-1.76L602,680" transform="translate(-602 -680)"/>
                  </svg>
                </label>

                <input value="7" id="star7_{{movie.movie.id}}"
                  type="radio" name="rating" >
                <label for="star7_{{movie.movie.id}}">
                  <span >3.5점</span>
                  <svg>
                    <path class="icon-star-left" d="M601,680m0,22.038L592.965,706l1.1-9.259L588,689.931l8.715-1.76L601,680" transform="translate(-588 -680)"/>
                  </svg>
                </label>

                <input value="8" id="star8_{{movie.movie.id}}"
                  type="radio" name="rating" >
                <label for="star8_{{movie.movie.id}}"  class="star8">
                  <span >4점</span>
                  <svg>
                    <path class="icon-star-right" d="M602,680m0,22.038L610.035,706l-1.1-9.259,6.066-6.81-8.715-1.76L602,680" transform="translate(-602 -680)"/>
                  </svg>
                </label>

                <input value="9" id="star9_{{movie.movie.id}}"
                  type="radio" name="rating" >
                <label for="star9_{{movie.movie.id}}">
                  <span >4.5점</span>
                  <svg>
                    <path class="icon-star-left" d="M601,680m0,22.038L592.965,706l1.1-9.259L588,689.931l8.715-1.76L601,680" transform="translate(-588 -680)"/>
                  </svg>
                </label>

                <input value="10" id="star10_{{movie.movie.id}}"
                  type="radio" name="rating" >
                <label for="star10_{{movie.movie.id}}">
                  <span >5점</span>
                  <svg>
                    <path class="icon-star-right" d="M602,680m0,22.038L610.035,706l-1.1-9.259,6.066-6.81-8.715-1.76L602,680" transform="translate(-602 -680)"/>
                  </svg>
                </label>

                <button type="submit" class="submit">평가하기</button>
                <output></output>

              </form>
            </div>
            <!-- data-ladda="share_data.is_creating" -->
            <button
            type="button"
            class="heart-btn"
            data-ng-controller="FingoWishMoviesController"
            data-ng-click="WishMovies('True', movie.movie, movie.movie.id)"
            ><img src="./images/icon-heart.svg" alt="보고싶어요">보고싶어요</button>
            <button type="button" class="like-btn" data-ui-sref="movies.comment({'id': movie.movie.id})"><img src="./images/icon-comment.svg" alt="코멘트">코멘트 쓰기</button>
            <!-- ng-click="wishStyle={'background-color':'#be3c39'}" -->
          </div>
          <!--  data-ng-click="offScroll={'overflow-y':'hidden'}" -->
        </figure>
      </div>
      </section>
    </main>
    


<div data-ui-view></div>
<div data-ng-include="'views/footer.html'"></div>
