<div id="main-box-office-carousel">
  <ul>
    <li data-ng-repeat="movie in fingo_movies" class="{{$index + 1}}"><a href></a></li>
  </ul>
  <div>
    <figure
      data-ng-repeat="movie in fingo_movies"
      data-ng-init="$last && repeatComplete()"
      >
      <a href="#">
        <img data-ng-src="{{movie.movie.img}}" alt="">
        <p class="box-office-movie-title"><span>{{movie.rank}}위</span> {{movie.movie.title}}</p>
        <div class="hover">
          <h3>{{movie.movie.title}}</h3>
          <p class="stars">별 별 별 별 별</p>
          <button type="button">보고싶어요</button>
          <button type="button">코멘트 쓰기</button>
        </div>
      </a>
    </figure>
  </div>
</div>
