<div id="main-box-office-carousel">
  <ul>
    <li data-ng-repeat="movie in movies" class="{{$index + 1}}"><a href></a></li>
  </ul>
  <div>
    <figure data-ng-repeat="movie in movies">
      <a href="#">
        <img src="{{movie.image}}" alt="">
        <p class="box-office-movie-title"><span>{{$index + 1}}위</span>  {{movie.title}}</p>
        <div class="hover">
          <h3>{{movie.title}}</h3>
          <p class="stars">별 별 별 별 별</p>
          <button type="button" class="active">보고싶어요</button>
          <button type="button" class="active">코멘트 쓰기</button>
        </div>
      </a>
    </figure>
  </div>
</div>
